.nav-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.nav-header-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;

}

.link-item {
    text-decoration: none;
    color: #000;
}